################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UC16_Assembler/FileContentIndex/51039eac-6f25-47a5-add6-4ce23395d1e0.vsidx
/.vs/UC16_Assembler/FileContentIndex/405572d3-f97b-4168-93b0-02b58fd15205.vsidx
/.vs/UC16_Assembler/CopilotIndices/18.10.1181.45497/SemanticSymbols.db
/.vs/UC16_Assembler/CopilotIndices/18.10.1181.45497/SemanticSymbols.db-shm
/.vs/UC16_Assembler/CopilotIndices/18.10.1181.45497/SemanticSymbols.db-wal
/.vs/UC16_Assembler/v18/.suo
/UC16_Assembler/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.vsidx
/.vs/UC16_Assembler/CopilotIndices/18.10.1181.45497/SemanticSymbols.db-wal
/UC16_Assembler/obj/Debug/DesignTimeResolveAssemblyReferences.cache
